<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxycloud.autoConfig.db.mybatis.mapper.biz.DeviceFaultRecordMapper">
  <resultMap id="BaseResultMap" type="com.zxycloud.autoConfig.db.mybatis.model.biz.DeviceFaultRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="message_id" jdbcType="VARCHAR" property="messageId" />
    <result column="happen_time" jdbcType="BIGINT" property="happenTime" />
    <result column="receive_time" jdbcType="BIGINT" property="receiveTime" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="state_type" jdbcType="INTEGER" property="stateType" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="place_id" jdbcType="VARCHAR" property="placeId" />
    <result column="place_name" jdbcType="VARCHAR" property="placeName" />
    <result column="adapter_id" jdbcType="VARCHAR" property="adapterId" />
    <result column="adapter_name" jdbcType="VARCHAR" property="adapterName" />
    <result column="controller_addr" jdbcType="INTEGER" property="controllerAddr" />
    <result column="device_type_code" jdbcType="INTEGER" property="deviceTypeCode" />
    <result column="device_type_name" jdbcType="VARCHAR" property="deviceTypeName" />
    <result column="device_install_location" jdbcType="VARCHAR" property="deviceInstallLocation" />
    <result column="device_system_code" jdbcType="INTEGER" property="deviceSystemCode" />
    <result column="device_system_name" jdbcType="VARCHAR" property="deviceSystemName" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, message_id, happen_time, receive_time, device_id, state_type, project_id, project_name, 
    area_id, area_name, place_id, place_name, adapter_id, adapter_name, controller_addr, 
    device_type_code, device_type_name, device_install_location, device_system_code, 
    device_system_name, create_time
  </sql>
  <select id="selectByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.biz.DeviceFaultRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from device_fault_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_fault_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from device_fault_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.biz.DeviceFaultRecordExample">
    delete from device_fault_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxycloud.autoConfig.db.mybatis.model.biz.DeviceFaultRecord">
    insert into device_fault_record (id, message_id, happen_time, 
      receive_time, device_id, state_type, 
      project_id, project_name, area_id, 
      area_name, place_id, place_name, 
      adapter_id, adapter_name, controller_addr, 
      device_type_code, device_type_name, device_install_location, 
      device_system_code, device_system_name, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{messageId,jdbcType=VARCHAR}, #{happenTime,jdbcType=BIGINT}, 
      #{receiveTime,jdbcType=BIGINT}, #{deviceId,jdbcType=VARCHAR}, #{stateType,jdbcType=INTEGER}, 
      #{projectId,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, 
      #{areaName,jdbcType=VARCHAR}, #{placeId,jdbcType=VARCHAR}, #{placeName,jdbcType=VARCHAR}, 
      #{adapterId,jdbcType=VARCHAR}, #{adapterName,jdbcType=VARCHAR}, #{controllerAddr,jdbcType=INTEGER}, 
      #{deviceTypeCode,jdbcType=INTEGER}, #{deviceTypeName,jdbcType=VARCHAR}, #{deviceInstallLocation,jdbcType=VARCHAR}, 
      #{deviceSystemCode,jdbcType=INTEGER}, #{deviceSystemName,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.biz.DeviceFaultRecord">
    insert into device_fault_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="messageId != null">
        message_id,
      </if>
      <if test="happenTime != null">
        happen_time,
      </if>
      <if test="receiveTime != null">
        receive_time,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="stateType != null">
        state_type,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="areaName != null">
        area_name,
      </if>
      <if test="placeId != null">
        place_id,
      </if>
      <if test="placeName != null">
        place_name,
      </if>
      <if test="adapterId != null">
        adapter_id,
      </if>
      <if test="adapterName != null">
        adapter_name,
      </if>
      <if test="controllerAddr != null">
        controller_addr,
      </if>
      <if test="deviceTypeCode != null">
        device_type_code,
      </if>
      <if test="deviceTypeName != null">
        device_type_name,
      </if>
      <if test="deviceInstallLocation != null">
        device_install_location,
      </if>
      <if test="deviceSystemCode != null">
        device_system_code,
      </if>
      <if test="deviceSystemName != null">
        device_system_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null">
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="happenTime != null">
        #{happenTime,jdbcType=BIGINT},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="stateType != null">
        #{stateType,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="placeId != null">
        #{placeId,jdbcType=VARCHAR},
      </if>
      <if test="placeName != null">
        #{placeName,jdbcType=VARCHAR},
      </if>
      <if test="adapterId != null">
        #{adapterId,jdbcType=VARCHAR},
      </if>
      <if test="adapterName != null">
        #{adapterName,jdbcType=VARCHAR},
      </if>
      <if test="controllerAddr != null">
        #{controllerAddr,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeCode != null">
        #{deviceTypeCode,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeName != null">
        #{deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="deviceInstallLocation != null">
        #{deviceInstallLocation,jdbcType=VARCHAR},
      </if>
      <if test="deviceSystemCode != null">
        #{deviceSystemCode,jdbcType=INTEGER},
      </if>
      <if test="deviceSystemName != null">
        #{deviceSystemName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.biz.DeviceFaultRecordExample" resultType="java.lang.Long">
    select count(*) from device_fault_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update device_fault_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.messageId != null">
        message_id = #{record.messageId,jdbcType=VARCHAR},
      </if>
      <if test="record.happenTime != null">
        happen_time = #{record.happenTime,jdbcType=BIGINT},
      </if>
      <if test="record.receiveTime != null">
        receive_time = #{record.receiveTime,jdbcType=BIGINT},
      </if>
      <if test="record.deviceId != null">
        device_id = #{record.deviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.stateType != null">
        state_type = #{record.stateType,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null">
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.areaId != null">
        area_id = #{record.areaId,jdbcType=VARCHAR},
      </if>
      <if test="record.areaName != null">
        area_name = #{record.areaName,jdbcType=VARCHAR},
      </if>
      <if test="record.placeId != null">
        place_id = #{record.placeId,jdbcType=VARCHAR},
      </if>
      <if test="record.placeName != null">
        place_name = #{record.placeName,jdbcType=VARCHAR},
      </if>
      <if test="record.adapterId != null">
        adapter_id = #{record.adapterId,jdbcType=VARCHAR},
      </if>
      <if test="record.adapterName != null">
        adapter_name = #{record.adapterName,jdbcType=VARCHAR},
      </if>
      <if test="record.controllerAddr != null">
        controller_addr = #{record.controllerAddr,jdbcType=INTEGER},
      </if>
      <if test="record.deviceTypeCode != null">
        device_type_code = #{record.deviceTypeCode,jdbcType=INTEGER},
      </if>
      <if test="record.deviceTypeName != null">
        device_type_name = #{record.deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceInstallLocation != null">
        device_install_location = #{record.deviceInstallLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceSystemCode != null">
        device_system_code = #{record.deviceSystemCode,jdbcType=INTEGER},
      </if>
      <if test="record.deviceSystemName != null">
        device_system_name = #{record.deviceSystemName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update device_fault_record
    set id = #{record.id,jdbcType=VARCHAR},
      message_id = #{record.messageId,jdbcType=VARCHAR},
      happen_time = #{record.happenTime,jdbcType=BIGINT},
      receive_time = #{record.receiveTime,jdbcType=BIGINT},
      device_id = #{record.deviceId,jdbcType=VARCHAR},
      state_type = #{record.stateType,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      area_id = #{record.areaId,jdbcType=VARCHAR},
      area_name = #{record.areaName,jdbcType=VARCHAR},
      place_id = #{record.placeId,jdbcType=VARCHAR},
      place_name = #{record.placeName,jdbcType=VARCHAR},
      adapter_id = #{record.adapterId,jdbcType=VARCHAR},
      adapter_name = #{record.adapterName,jdbcType=VARCHAR},
      controller_addr = #{record.controllerAddr,jdbcType=INTEGER},
      device_type_code = #{record.deviceTypeCode,jdbcType=INTEGER},
      device_type_name = #{record.deviceTypeName,jdbcType=VARCHAR},
      device_install_location = #{record.deviceInstallLocation,jdbcType=VARCHAR},
      device_system_code = #{record.deviceSystemCode,jdbcType=INTEGER},
      device_system_name = #{record.deviceSystemName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.biz.DeviceFaultRecord">
    update device_fault_record
    <set>
      <if test="messageId != null">
        message_id = #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="happenTime != null">
        happen_time = #{happenTime,jdbcType=BIGINT},
      </if>
      <if test="receiveTime != null">
        receive_time = #{receiveTime,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="stateType != null">
        state_type = #{stateType,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null">
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="placeId != null">
        place_id = #{placeId,jdbcType=VARCHAR},
      </if>
      <if test="placeName != null">
        place_name = #{placeName,jdbcType=VARCHAR},
      </if>
      <if test="adapterId != null">
        adapter_id = #{adapterId,jdbcType=VARCHAR},
      </if>
      <if test="adapterName != null">
        adapter_name = #{adapterName,jdbcType=VARCHAR},
      </if>
      <if test="controllerAddr != null">
        controller_addr = #{controllerAddr,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeCode != null">
        device_type_code = #{deviceTypeCode,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeName != null">
        device_type_name = #{deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="deviceInstallLocation != null">
        device_install_location = #{deviceInstallLocation,jdbcType=VARCHAR},
      </if>
      <if test="deviceSystemCode != null">
        device_system_code = #{deviceSystemCode,jdbcType=INTEGER},
      </if>
      <if test="deviceSystemName != null">
        device_system_name = #{deviceSystemName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxycloud.autoConfig.db.mybatis.model.biz.DeviceFaultRecord">
    update device_fault_record
    set message_id = #{messageId,jdbcType=VARCHAR},
      happen_time = #{happenTime,jdbcType=BIGINT},
      receive_time = #{receiveTime,jdbcType=BIGINT},
      device_id = #{deviceId,jdbcType=VARCHAR},
      state_type = #{stateType,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      place_id = #{placeId,jdbcType=VARCHAR},
      place_name = #{placeName,jdbcType=VARCHAR},
      adapter_id = #{adapterId,jdbcType=VARCHAR},
      adapter_name = #{adapterName,jdbcType=VARCHAR},
      controller_addr = #{controllerAddr,jdbcType=INTEGER},
      device_type_code = #{deviceTypeCode,jdbcType=INTEGER},
      device_type_name = #{deviceTypeName,jdbcType=VARCHAR},
      device_install_location = #{deviceInstallLocation,jdbcType=VARCHAR},
      device_system_code = #{deviceSystemCode,jdbcType=INTEGER},
      device_system_name = #{deviceSystemName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>