<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxycloud.autoConfig.db.mybatis.mapper.permission.AppkeyListMapper">
  <resultMap id="BaseResultMap" type="com.zxycloud.autoConfig.db.mybatis.model.permission.AppkeyList">
    <id column="appkey" jdbcType="VARCHAR" property="appkey" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="system_id" jdbcType="INTEGER" property="systemId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zxycloud.autoConfig.db.mybatis.model.permission.AppkeyList">
    <result column="jump_url" jdbcType="LONGVARCHAR" property="jumpUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    appkey, uid, system_id
  </sql>
  <sql id="Blob_Column_List">
    jump_url
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zxycloud.autoConfig.db.mybatis.model.permission.AppkeyListExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from appkey_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.permission.AppkeyListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from appkey_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from appkey_list
    where appkey = #{appkey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from appkey_list
    where appkey = #{appkey,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.permission.AppkeyListExample">
    delete from appkey_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxycloud.autoConfig.db.mybatis.model.permission.AppkeyList">
    insert into appkey_list (appkey, uid, system_id, 
      jump_url)
    values (#{appkey,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{systemId,jdbcType=INTEGER}, 
      #{jumpUrl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.permission.AppkeyList">
    insert into appkey_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appkey != null">
        appkey,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="systemId != null">
        system_id,
      </if>
      <if test="jumpUrl != null">
        jump_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appkey != null">
        #{appkey,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=INTEGER},
      </if>
      <if test="jumpUrl != null">
        #{jumpUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.permission.AppkeyListExample" resultType="java.lang.Long">
    select count(*) from appkey_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update appkey_list
    <set>
      <if test="record.appkey != null">
        appkey = #{record.appkey,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null">
        system_id = #{record.systemId,jdbcType=INTEGER},
      </if>
      <if test="record.jumpUrl != null">
        jump_url = #{record.jumpUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update appkey_list
    set appkey = #{record.appkey,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=VARCHAR},
      system_id = #{record.systemId,jdbcType=INTEGER},
      jump_url = #{record.jumpUrl,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update appkey_list
    set appkey = #{record.appkey,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=VARCHAR},
      system_id = #{record.systemId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.permission.AppkeyList">
    update appkey_list
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        system_id = #{systemId,jdbcType=INTEGER},
      </if>
      <if test="jumpUrl != null">
        jump_url = #{jumpUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where appkey = #{appkey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zxycloud.autoConfig.db.mybatis.model.permission.AppkeyList">
    update appkey_list
    set uid = #{uid,jdbcType=VARCHAR},
      system_id = #{systemId,jdbcType=INTEGER},
      jump_url = #{jumpUrl,jdbcType=LONGVARCHAR}
    where appkey = #{appkey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxycloud.autoConfig.db.mybatis.model.permission.AppkeyList">
    update appkey_list
    set uid = #{uid,jdbcType=VARCHAR},
      system_id = #{systemId,jdbcType=INTEGER}
    where appkey = #{appkey,jdbcType=VARCHAR}
  </update>
</mapper>