<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.testConfig.db.mybatis.mapper.assist.DeviceRunningLogMapper" >
  <resultMap id="BaseResultMap" type="com.example.testConfig.db.mybatis.model.assist.DeviceRunningLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="message_id" property="messageId" jdbcType="VARCHAR" />
    <result column="happen_time" property="happenTime" jdbcType="BIGINT" />
    <result column="receive_time" property="receiveTime" jdbcType="BIGINT" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_address" property="projectAddress" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="place_id" property="placeId" jdbcType="VARCHAR" />
    <result column="place_name" property="placeName" jdbcType="VARCHAR" />
    <result column="adapter_id" property="adapterId" jdbcType="VARCHAR" />
    <result column="adapter_name" property="adapterName" jdbcType="VARCHAR" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="system_code" property="systemCode" jdbcType="INTEGER" />
    <result column="system_name" property="systemName" jdbcType="VARCHAR" />
    <result column="controller_id" property="controllerId" jdbcType="INTEGER" />
    <result column="device_type" property="deviceType" jdbcType="INTEGER" />
    <result column="device_type_name" property="deviceTypeName" jdbcType="VARCHAR" />
    <result column="device_number" property="deviceNumber" jdbcType="VARCHAR" />
    <result column="device_channel" property="deviceChannel" jdbcType="INTEGER" />
    <result column="vendor_id" property="vendorId" jdbcType="INTEGER" />
    <result column="vendor" property="vendor" jdbcType="VARCHAR" />
    <result column="device_state_group_code" property="deviceStateGroupCode" jdbcType="INTEGER" />
    <result column="device_state_group_name" property="deviceStateGroupName" jdbcType="VARCHAR" />
    <result column="device_state_code" property="deviceStateCode" jdbcType="INTEGER" />
    <result column="device_state_name" property="deviceStateName" jdbcType="VARCHAR" />
    <result column="operate_code" property="operateCode" jdbcType="INTEGER" />
    <result column="operate_name" property="operateName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, message_id, happen_time, receive_time, project_id, project_name, project_address, 
    area_id, area_name, place_id, place_name, adapter_id, adapter_name, device_id, system_code, 
    system_name, controller_id, device_type, device_type_name, device_number, device_channel, 
    vendor_id, vendor, device_state_group_code, device_state_group_name, device_state_code, 
    device_state_name, operate_code, operate_name, description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceRunningLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from device_running_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from device_running_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from device_running_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceRunningLogExample" >
    delete from device_running_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceRunningLog" >
    insert into device_running_log (id, message_id, happen_time, 
      receive_time, project_id, project_name, 
      project_address, area_id, area_name, 
      place_id, place_name, adapter_id, 
      adapter_name, device_id, system_code, 
      system_name, controller_id, device_type, 
      device_type_name, device_number, device_channel, 
      vendor_id, vendor, device_state_group_code, 
      device_state_group_name, device_state_code, 
      device_state_name, operate_code, operate_name, 
      description)
    values (#{id,jdbcType=VARCHAR}, #{messageId,jdbcType=VARCHAR}, #{happenTime,jdbcType=BIGINT}, 
      #{receiveTime,jdbcType=BIGINT}, #{projectId,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{projectAddress,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, 
      #{placeId,jdbcType=VARCHAR}, #{placeName,jdbcType=VARCHAR}, #{adapterId,jdbcType=VARCHAR}, 
      #{adapterName,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR}, #{systemCode,jdbcType=INTEGER}, 
      #{systemName,jdbcType=VARCHAR}, #{controllerId,jdbcType=INTEGER}, #{deviceType,jdbcType=INTEGER}, 
      #{deviceTypeName,jdbcType=VARCHAR}, #{deviceNumber,jdbcType=VARCHAR}, #{deviceChannel,jdbcType=INTEGER}, 
      #{vendorId,jdbcType=INTEGER}, #{vendor,jdbcType=VARCHAR}, #{deviceStateGroupCode,jdbcType=INTEGER}, 
      #{deviceStateGroupName,jdbcType=VARCHAR}, #{deviceStateCode,jdbcType=INTEGER}, 
      #{deviceStateName,jdbcType=VARCHAR}, #{operateCode,jdbcType=INTEGER}, #{operateName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceRunningLog" >
    insert into device_running_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="happenTime != null" >
        happen_time,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectAddress != null" >
        project_address,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="placeId != null" >
        place_id,
      </if>
      <if test="placeName != null" >
        place_name,
      </if>
      <if test="adapterId != null" >
        adapter_id,
      </if>
      <if test="adapterName != null" >
        adapter_name,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="systemCode != null" >
        system_code,
      </if>
      <if test="systemName != null" >
        system_name,
      </if>
      <if test="controllerId != null" >
        controller_id,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="deviceTypeName != null" >
        device_type_name,
      </if>
      <if test="deviceNumber != null" >
        device_number,
      </if>
      <if test="deviceChannel != null" >
        device_channel,
      </if>
      <if test="vendorId != null" >
        vendor_id,
      </if>
      <if test="vendor != null" >
        vendor,
      </if>
      <if test="deviceStateGroupCode != null" >
        device_state_group_code,
      </if>
      <if test="deviceStateGroupName != null" >
        device_state_group_name,
      </if>
      <if test="deviceStateCode != null" >
        device_state_code,
      </if>
      <if test="deviceStateName != null" >
        device_state_name,
      </if>
      <if test="operateCode != null" >
        operate_code,
      </if>
      <if test="operateName != null" >
        operate_name,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="happenTime != null" >
        #{happenTime,jdbcType=BIGINT},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=BIGINT},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectAddress != null" >
        #{projectAddress,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="placeId != null" >
        #{placeId,jdbcType=VARCHAR},
      </if>
      <if test="placeName != null" >
        #{placeName,jdbcType=VARCHAR},
      </if>
      <if test="adapterId != null" >
        #{adapterId,jdbcType=VARCHAR},
      </if>
      <if test="adapterName != null" >
        #{adapterName,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="systemCode != null" >
        #{systemCode,jdbcType=INTEGER},
      </if>
      <if test="systemName != null" >
        #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="controllerId != null" >
        #{controllerId,jdbcType=INTEGER},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeName != null" >
        #{deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="deviceNumber != null" >
        #{deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="deviceChannel != null" >
        #{deviceChannel,jdbcType=INTEGER},
      </if>
      <if test="vendorId != null" >
        #{vendorId,jdbcType=INTEGER},
      </if>
      <if test="vendor != null" >
        #{vendor,jdbcType=VARCHAR},
      </if>
      <if test="deviceStateGroupCode != null" >
        #{deviceStateGroupCode,jdbcType=INTEGER},
      </if>
      <if test="deviceStateGroupName != null" >
        #{deviceStateGroupName,jdbcType=VARCHAR},
      </if>
      <if test="deviceStateCode != null" >
        #{deviceStateCode,jdbcType=INTEGER},
      </if>
      <if test="deviceStateName != null" >
        #{deviceStateName,jdbcType=VARCHAR},
      </if>
      <if test="operateCode != null" >
        #{operateCode,jdbcType=INTEGER},
      </if>
      <if test="operateName != null" >
        #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceRunningLogExample" resultType="java.lang.Integer" >
    select count(*) from device_running_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update device_running_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.messageId != null" >
        message_id = #{record.messageId,jdbcType=VARCHAR},
      </if>
      <if test="record.happenTime != null" >
        happen_time = #{record.happenTime,jdbcType=BIGINT},
      </if>
      <if test="record.receiveTime != null" >
        receive_time = #{record.receiveTime,jdbcType=BIGINT},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null" >
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectAddress != null" >
        project_address = #{record.projectAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.areaId != null" >
        area_id = #{record.areaId,jdbcType=VARCHAR},
      </if>
      <if test="record.areaName != null" >
        area_name = #{record.areaName,jdbcType=VARCHAR},
      </if>
      <if test="record.placeId != null" >
        place_id = #{record.placeId,jdbcType=VARCHAR},
      </if>
      <if test="record.placeName != null" >
        place_name = #{record.placeName,jdbcType=VARCHAR},
      </if>
      <if test="record.adapterId != null" >
        adapter_id = #{record.adapterId,jdbcType=VARCHAR},
      </if>
      <if test="record.adapterName != null" >
        adapter_name = #{record.adapterName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceId != null" >
        device_id = #{record.deviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.systemCode != null" >
        system_code = #{record.systemCode,jdbcType=INTEGER},
      </if>
      <if test="record.systemName != null" >
        system_name = #{record.systemName,jdbcType=VARCHAR},
      </if>
      <if test="record.controllerId != null" >
        controller_id = #{record.controllerId,jdbcType=INTEGER},
      </if>
      <if test="record.deviceType != null" >
        device_type = #{record.deviceType,jdbcType=INTEGER},
      </if>
      <if test="record.deviceTypeName != null" >
        device_type_name = #{record.deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceNumber != null" >
        device_number = #{record.deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceChannel != null" >
        device_channel = #{record.deviceChannel,jdbcType=INTEGER},
      </if>
      <if test="record.vendorId != null" >
        vendor_id = #{record.vendorId,jdbcType=INTEGER},
      </if>
      <if test="record.vendor != null" >
        vendor = #{record.vendor,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceStateGroupCode != null" >
        device_state_group_code = #{record.deviceStateGroupCode,jdbcType=INTEGER},
      </if>
      <if test="record.deviceStateGroupName != null" >
        device_state_group_name = #{record.deviceStateGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceStateCode != null" >
        device_state_code = #{record.deviceStateCode,jdbcType=INTEGER},
      </if>
      <if test="record.deviceStateName != null" >
        device_state_name = #{record.deviceStateName,jdbcType=VARCHAR},
      </if>
      <if test="record.operateCode != null" >
        operate_code = #{record.operateCode,jdbcType=INTEGER},
      </if>
      <if test="record.operateName != null" >
        operate_name = #{record.operateName,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update device_running_log
    set id = #{record.id,jdbcType=VARCHAR},
      message_id = #{record.messageId,jdbcType=VARCHAR},
      happen_time = #{record.happenTime,jdbcType=BIGINT},
      receive_time = #{record.receiveTime,jdbcType=BIGINT},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      project_address = #{record.projectAddress,jdbcType=VARCHAR},
      area_id = #{record.areaId,jdbcType=VARCHAR},
      area_name = #{record.areaName,jdbcType=VARCHAR},
      place_id = #{record.placeId,jdbcType=VARCHAR},
      place_name = #{record.placeName,jdbcType=VARCHAR},
      adapter_id = #{record.adapterId,jdbcType=VARCHAR},
      adapter_name = #{record.adapterName,jdbcType=VARCHAR},
      device_id = #{record.deviceId,jdbcType=VARCHAR},
      system_code = #{record.systemCode,jdbcType=INTEGER},
      system_name = #{record.systemName,jdbcType=VARCHAR},
      controller_id = #{record.controllerId,jdbcType=INTEGER},
      device_type = #{record.deviceType,jdbcType=INTEGER},
      device_type_name = #{record.deviceTypeName,jdbcType=VARCHAR},
      device_number = #{record.deviceNumber,jdbcType=VARCHAR},
      device_channel = #{record.deviceChannel,jdbcType=INTEGER},
      vendor_id = #{record.vendorId,jdbcType=INTEGER},
      vendor = #{record.vendor,jdbcType=VARCHAR},
      device_state_group_code = #{record.deviceStateGroupCode,jdbcType=INTEGER},
      device_state_group_name = #{record.deviceStateGroupName,jdbcType=VARCHAR},
      device_state_code = #{record.deviceStateCode,jdbcType=INTEGER},
      device_state_name = #{record.deviceStateName,jdbcType=VARCHAR},
      operate_code = #{record.operateCode,jdbcType=INTEGER},
      operate_name = #{record.operateName,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceRunningLog" >
    update device_running_log
    <set >
      <if test="messageId != null" >
        message_id = #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="happenTime != null" >
        happen_time = #{happenTime,jdbcType=BIGINT},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=BIGINT},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectAddress != null" >
        project_address = #{projectAddress,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="placeId != null" >
        place_id = #{placeId,jdbcType=VARCHAR},
      </if>
      <if test="placeName != null" >
        place_name = #{placeName,jdbcType=VARCHAR},
      </if>
      <if test="adapterId != null" >
        adapter_id = #{adapterId,jdbcType=VARCHAR},
      </if>
      <if test="adapterName != null" >
        adapter_name = #{adapterName,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="systemCode != null" >
        system_code = #{systemCode,jdbcType=INTEGER},
      </if>
      <if test="systemName != null" >
        system_name = #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="controllerId != null" >
        controller_id = #{controllerId,jdbcType=INTEGER},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeName != null" >
        device_type_name = #{deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="deviceNumber != null" >
        device_number = #{deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="deviceChannel != null" >
        device_channel = #{deviceChannel,jdbcType=INTEGER},
      </if>
      <if test="vendorId != null" >
        vendor_id = #{vendorId,jdbcType=INTEGER},
      </if>
      <if test="vendor != null" >
        vendor = #{vendor,jdbcType=VARCHAR},
      </if>
      <if test="deviceStateGroupCode != null" >
        device_state_group_code = #{deviceStateGroupCode,jdbcType=INTEGER},
      </if>
      <if test="deviceStateGroupName != null" >
        device_state_group_name = #{deviceStateGroupName,jdbcType=VARCHAR},
      </if>
      <if test="deviceStateCode != null" >
        device_state_code = #{deviceStateCode,jdbcType=INTEGER},
      </if>
      <if test="deviceStateName != null" >
        device_state_name = #{deviceStateName,jdbcType=VARCHAR},
      </if>
      <if test="operateCode != null" >
        operate_code = #{operateCode,jdbcType=INTEGER},
      </if>
      <if test="operateName != null" >
        operate_name = #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceRunningLog" >
    update device_running_log
    set message_id = #{messageId,jdbcType=VARCHAR},
      happen_time = #{happenTime,jdbcType=BIGINT},
      receive_time = #{receiveTime,jdbcType=BIGINT},
      project_id = #{projectId,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_address = #{projectAddress,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      place_id = #{placeId,jdbcType=VARCHAR},
      place_name = #{placeName,jdbcType=VARCHAR},
      adapter_id = #{adapterId,jdbcType=VARCHAR},
      adapter_name = #{adapterName,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=VARCHAR},
      system_code = #{systemCode,jdbcType=INTEGER},
      system_name = #{systemName,jdbcType=VARCHAR},
      controller_id = #{controllerId,jdbcType=INTEGER},
      device_type = #{deviceType,jdbcType=INTEGER},
      device_type_name = #{deviceTypeName,jdbcType=VARCHAR},
      device_number = #{deviceNumber,jdbcType=VARCHAR},
      device_channel = #{deviceChannel,jdbcType=INTEGER},
      vendor_id = #{vendorId,jdbcType=INTEGER},
      vendor = #{vendor,jdbcType=VARCHAR},
      device_state_group_code = #{deviceStateGroupCode,jdbcType=INTEGER},
      device_state_group_name = #{deviceStateGroupName,jdbcType=VARCHAR},
      device_state_code = #{deviceStateCode,jdbcType=INTEGER},
      device_state_name = #{deviceStateName,jdbcType=VARCHAR},
      operate_code = #{operateCode,jdbcType=INTEGER},
      operate_name = #{operateName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>