<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testConfig.db.mybatis.mapper.assist.DeviceTypeMetadataMapper">
  <resultMap id="BaseResultMap" type="com.example.testConfig.db.mybatis.model.assist.DeviceTypeMetadata">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="device_type_code" jdbcType="INTEGER" property="deviceTypeCode" />
    <result column="i18n_code" jdbcType="CHAR" property="i18nCode" />
    <result column="device_type_name" jdbcType="VARCHAR" property="deviceTypeName" />
    <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, device_type_code, i18n_code, device_type_name, abbreviation
  </sql>
  <select id="selectByExample" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceTypeMetadataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from device_type_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_type_metadata
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from device_type_metadata
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceTypeMetadataExample">
    delete from device_type_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceTypeMetadata">
    insert into device_type_metadata (id, device_type_code, i18n_code, 
      device_type_name, abbreviation)
    values (#{id,jdbcType=VARCHAR}, #{deviceTypeCode,jdbcType=INTEGER}, #{i18nCode,jdbcType=CHAR}, 
      #{deviceTypeName,jdbcType=VARCHAR}, #{abbreviation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceTypeMetadata">
    insert into device_type_metadata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceTypeCode != null">
        device_type_code,
      </if>
      <if test="i18nCode != null">
        i18n_code,
      </if>
      <if test="deviceTypeName != null">
        device_type_name,
      </if>
      <if test="abbreviation != null">
        abbreviation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="deviceTypeCode != null">
        #{deviceTypeCode,jdbcType=INTEGER},
      </if>
      <if test="i18nCode != null">
        #{i18nCode,jdbcType=CHAR},
      </if>
      <if test="deviceTypeName != null">
        #{deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null">
        #{abbreviation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceTypeMetadataExample" resultType="java.lang.Long">
    select count(*) from device_type_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update device_type_metadata
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceTypeCode != null">
        device_type_code = #{record.deviceTypeCode,jdbcType=INTEGER},
      </if>
      <if test="record.i18nCode != null">
        i18n_code = #{record.i18nCode,jdbcType=CHAR},
      </if>
      <if test="record.deviceTypeName != null">
        device_type_name = #{record.deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.abbreviation != null">
        abbreviation = #{record.abbreviation,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update device_type_metadata
    set id = #{record.id,jdbcType=VARCHAR},
      device_type_code = #{record.deviceTypeCode,jdbcType=INTEGER},
      i18n_code = #{record.i18nCode,jdbcType=CHAR},
      device_type_name = #{record.deviceTypeName,jdbcType=VARCHAR},
      abbreviation = #{record.abbreviation,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceTypeMetadata">
    update device_type_metadata
    <set>
      <if test="deviceTypeCode != null">
        device_type_code = #{deviceTypeCode,jdbcType=INTEGER},
      </if>
      <if test="i18nCode != null">
        i18n_code = #{i18nCode,jdbcType=CHAR},
      </if>
      <if test="deviceTypeName != null">
        device_type_name = #{deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null">
        abbreviation = #{abbreviation,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.testConfig.db.mybatis.model.assist.DeviceTypeMetadata">
    update device_type_metadata
    set device_type_code = #{deviceTypeCode,jdbcType=INTEGER},
      i18n_code = #{i18nCode,jdbcType=CHAR},
      device_type_name = #{deviceTypeName,jdbcType=VARCHAR},
      abbreviation = #{abbreviation,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>