<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testConfig.db.mybatis.mapper.assist.FunctionModuleMetadataMapper">
  <resultMap id="BaseResultMap" type="com.example.testConfig.db.mybatis.model.assist.FunctionModuleMetadata">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="module_code" jdbcType="INTEGER" property="moduleCode" />
    <result column="i18n_code" jdbcType="CHAR" property="i18nCode" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, module_code, i18n_code, module_name
  </sql>
  <select id="selectByExample" parameterType="com.example.testConfig.db.mybatis.model.assist.FunctionModuleMetadataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from function_module_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from function_module_metadata
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from function_module_metadata
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.testConfig.db.mybatis.model.assist.FunctionModuleMetadataExample">
    delete from function_module_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.testConfig.db.mybatis.model.assist.FunctionModuleMetadata">
    insert into function_module_metadata (id, module_code, i18n_code, 
      module_name)
    values (#{id,jdbcType=VARCHAR}, #{moduleCode,jdbcType=INTEGER}, #{i18nCode,jdbcType=CHAR}, 
      #{moduleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.testConfig.db.mybatis.model.assist.FunctionModuleMetadata">
    insert into function_module_metadata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moduleCode != null">
        module_code,
      </if>
      <if test="i18nCode != null">
        i18n_code,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="moduleCode != null">
        #{moduleCode,jdbcType=INTEGER},
      </if>
      <if test="i18nCode != null">
        #{i18nCode,jdbcType=CHAR},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.testConfig.db.mybatis.model.assist.FunctionModuleMetadataExample" resultType="java.lang.Long">
    select count(*) from function_module_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update function_module_metadata
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleCode != null">
        module_code = #{record.moduleCode,jdbcType=INTEGER},
      </if>
      <if test="record.i18nCode != null">
        i18n_code = #{record.i18nCode,jdbcType=CHAR},
      </if>
      <if test="record.moduleName != null">
        module_name = #{record.moduleName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update function_module_metadata
    set id = #{record.id,jdbcType=VARCHAR},
      module_code = #{record.moduleCode,jdbcType=INTEGER},
      i18n_code = #{record.i18nCode,jdbcType=CHAR},
      module_name = #{record.moduleName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.testConfig.db.mybatis.model.assist.FunctionModuleMetadata">
    update function_module_metadata
    <set>
      <if test="moduleCode != null">
        module_code = #{moduleCode,jdbcType=INTEGER},
      </if>
      <if test="i18nCode != null">
        i18n_code = #{i18nCode,jdbcType=CHAR},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.testConfig.db.mybatis.model.assist.FunctionModuleMetadata">
    update function_module_metadata
    set module_code = #{moduleCode,jdbcType=INTEGER},
      i18n_code = #{i18nCode,jdbcType=CHAR},
      module_name = #{moduleName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>