<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testConfig.db.mybatis.mapper.biz.PlaceLinkmanMapper">
  <resultMap id="BaseResultMap" type="com.example.testConfig.db.mybatis.model.biz.PlaceLinkman">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="place_id" jdbcType="VARCHAR" property="placeId" />
    <result column="linkman_name" jdbcType="VARCHAR" property="linkmanName" />
    <result column="linkman_phone_number" jdbcType="VARCHAR" property="linkmanPhoneNumber" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="linkman_level" jdbcType="INTEGER" property="linkmanLevel" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, place_id, linkman_name, linkman_phone_number, create_time, linkman_level
  </sql>
  <select id="selectByExample" parameterType="com.example.testConfig.db.mybatis.model.biz.PlaceLinkmanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from place_linkman
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from place_linkman
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from place_linkman
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.testConfig.db.mybatis.model.biz.PlaceLinkmanExample">
    delete from place_linkman
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.testConfig.db.mybatis.model.biz.PlaceLinkman">
    insert into place_linkman (id, place_id, linkman_name, 
      linkman_phone_number, create_time, linkman_level
      )
    values (#{id,jdbcType=VARCHAR}, #{placeId,jdbcType=VARCHAR}, #{linkmanName,jdbcType=VARCHAR}, 
      #{linkmanPhoneNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{linkmanLevel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.testConfig.db.mybatis.model.biz.PlaceLinkman">
    insert into place_linkman
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="placeId != null">
        place_id,
      </if>
      <if test="linkmanName != null">
        linkman_name,
      </if>
      <if test="linkmanPhoneNumber != null">
        linkman_phone_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="linkmanLevel != null">
        linkman_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="placeId != null">
        #{placeId,jdbcType=VARCHAR},
      </if>
      <if test="linkmanName != null">
        #{linkmanName,jdbcType=VARCHAR},
      </if>
      <if test="linkmanPhoneNumber != null">
        #{linkmanPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="linkmanLevel != null">
        #{linkmanLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.testConfig.db.mybatis.model.biz.PlaceLinkmanExample" resultType="java.lang.Long">
    select count(*) from place_linkman
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update place_linkman
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.placeId != null">
        place_id = #{record.placeId,jdbcType=VARCHAR},
      </if>
      <if test="record.linkmanName != null">
        linkman_name = #{record.linkmanName,jdbcType=VARCHAR},
      </if>
      <if test="record.linkmanPhoneNumber != null">
        linkman_phone_number = #{record.linkmanPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.linkmanLevel != null">
        linkman_level = #{record.linkmanLevel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update place_linkman
    set id = #{record.id,jdbcType=VARCHAR},
      place_id = #{record.placeId,jdbcType=VARCHAR},
      linkman_name = #{record.linkmanName,jdbcType=VARCHAR},
      linkman_phone_number = #{record.linkmanPhoneNumber,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      linkman_level = #{record.linkmanLevel,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.testConfig.db.mybatis.model.biz.PlaceLinkman">
    update place_linkman
    <set>
      <if test="placeId != null">
        place_id = #{placeId,jdbcType=VARCHAR},
      </if>
      <if test="linkmanName != null">
        linkman_name = #{linkmanName,jdbcType=VARCHAR},
      </if>
      <if test="linkmanPhoneNumber != null">
        linkman_phone_number = #{linkmanPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="linkmanLevel != null">
        linkman_level = #{linkmanLevel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.testConfig.db.mybatis.model.biz.PlaceLinkman">
    update place_linkman
    set place_id = #{placeId,jdbcType=VARCHAR},
      linkman_name = #{linkmanName,jdbcType=VARCHAR},
      linkman_phone_number = #{linkmanPhoneNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      linkman_level = #{linkmanLevel,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>