<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testConfig.db.mybatis.mapper.biz.ThirdPartyPushMapper">
  <resultMap id="BaseResultMap" type="com.example.testConfig.db.mybatis.model.biz.ThirdPartyPush">
    <id column="project_guid" jdbcType="VARCHAR" property="projectGuid" />
    <result column="push_url" jdbcType="VARCHAR" property="pushUrl" />
    <result column="use_able" jdbcType="TINYINT" property="useAble" />
    <result column="project_args" jdbcType="VARCHAR" property="projectArgs" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    project_guid, push_url, use_able, project_args
  </sql>
  <select id="selectByExample" parameterType="com.example.testConfig.db.mybatis.model.biz.ThirdPartyPushExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from third_party_push
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from third_party_push
    where project_guid = #{projectGuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from third_party_push
    where project_guid = #{projectGuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.testConfig.db.mybatis.model.biz.ThirdPartyPushExample">
    delete from third_party_push
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.testConfig.db.mybatis.model.biz.ThirdPartyPush">
    insert into third_party_push (project_guid, push_url, use_able, 
      project_args)
    values (#{projectGuid,jdbcType=VARCHAR}, #{pushUrl,jdbcType=VARCHAR}, #{useAble,jdbcType=TINYINT}, 
      #{projectArgs,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.testConfig.db.mybatis.model.biz.ThirdPartyPush">
    insert into third_party_push
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectGuid != null">
        project_guid,
      </if>
      <if test="pushUrl != null">
        push_url,
      </if>
      <if test="useAble != null">
        use_able,
      </if>
      <if test="projectArgs != null">
        project_args,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectGuid != null">
        #{projectGuid,jdbcType=VARCHAR},
      </if>
      <if test="pushUrl != null">
        #{pushUrl,jdbcType=VARCHAR},
      </if>
      <if test="useAble != null">
        #{useAble,jdbcType=TINYINT},
      </if>
      <if test="projectArgs != null">
        #{projectArgs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.testConfig.db.mybatis.model.biz.ThirdPartyPushExample" resultType="java.lang.Long">
    select count(*) from third_party_push
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update third_party_push
    <set>
      <if test="record.projectGuid != null">
        project_guid = #{record.projectGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.pushUrl != null">
        push_url = #{record.pushUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.useAble != null">
        use_able = #{record.useAble,jdbcType=TINYINT},
      </if>
      <if test="record.projectArgs != null">
        project_args = #{record.projectArgs,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update third_party_push
    set project_guid = #{record.projectGuid,jdbcType=VARCHAR},
      push_url = #{record.pushUrl,jdbcType=VARCHAR},
      use_able = #{record.useAble,jdbcType=TINYINT},
      project_args = #{record.projectArgs,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.testConfig.db.mybatis.model.biz.ThirdPartyPush">
    update third_party_push
    <set>
      <if test="pushUrl != null">
        push_url = #{pushUrl,jdbcType=VARCHAR},
      </if>
      <if test="useAble != null">
        use_able = #{useAble,jdbcType=TINYINT},
      </if>
      <if test="projectArgs != null">
        project_args = #{projectArgs,jdbcType=VARCHAR},
      </if>
    </set>
    where project_guid = #{projectGuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.testConfig.db.mybatis.model.biz.ThirdPartyPush">
    update third_party_push
    set push_url = #{pushUrl,jdbcType=VARCHAR},
      use_able = #{useAble,jdbcType=TINYINT},
      project_args = #{projectArgs,jdbcType=VARCHAR}
    where project_guid = #{projectGuid,jdbcType=VARCHAR}
  </update>
</mapper>