<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testConfig.db.mybatis.mapper.projectpermission.PAppFunctionMenuMapper">
  <resultMap id="BaseResultMap" type="com.example.testConfig.db.mybatis.model.projectpermission.PAppFunctionMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="function_code" jdbcType="INTEGER" property="functionCode" />
    <result column="i18n" jdbcType="VARCHAR" property="i18n" />
    <result column="function_name" jdbcType="VARCHAR" property="functionName" />
    <result column="function_url" jdbcType="VARCHAR" property="functionUrl" />
    <result column="roles" jdbcType="VARCHAR" property="roles" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, type, function_code, i18n, function_name, function_url, roles
  </sql>
  <select id="selectByExample" parameterType="com.example.testConfig.db.mybatis.model.projectpermission.PAppFunctionMenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from p_app_function_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_app_function_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from p_app_function_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.testConfig.db.mybatis.model.projectpermission.PAppFunctionMenuExample">
    delete from p_app_function_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.testConfig.db.mybatis.model.projectpermission.PAppFunctionMenu">
    insert into p_app_function_menu (id, type, function_code, 
      i18n, function_name, function_url, 
      roles)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{functionCode,jdbcType=INTEGER}, 
      #{i18n,jdbcType=VARCHAR}, #{functionName,jdbcType=VARCHAR}, #{functionUrl,jdbcType=VARCHAR}, 
      #{roles,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.testConfig.db.mybatis.model.projectpermission.PAppFunctionMenu">
    insert into p_app_function_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="functionCode != null">
        function_code,
      </if>
      <if test="i18n != null">
        i18n,
      </if>
      <if test="functionName != null">
        function_name,
      </if>
      <if test="functionUrl != null">
        function_url,
      </if>
      <if test="roles != null">
        roles,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="functionCode != null">
        #{functionCode,jdbcType=INTEGER},
      </if>
      <if test="i18n != null">
        #{i18n,jdbcType=VARCHAR},
      </if>
      <if test="functionName != null">
        #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionUrl != null">
        #{functionUrl,jdbcType=VARCHAR},
      </if>
      <if test="roles != null">
        #{roles,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.testConfig.db.mybatis.model.projectpermission.PAppFunctionMenuExample" resultType="java.lang.Long">
    select count(*) from p_app_function_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update p_app_function_menu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.functionCode != null">
        function_code = #{record.functionCode,jdbcType=INTEGER},
      </if>
      <if test="record.i18n != null">
        i18n = #{record.i18n,jdbcType=VARCHAR},
      </if>
      <if test="record.functionName != null">
        function_name = #{record.functionName,jdbcType=VARCHAR},
      </if>
      <if test="record.functionUrl != null">
        function_url = #{record.functionUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.roles != null">
        roles = #{record.roles,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update p_app_function_menu
    set id = #{record.id,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      function_code = #{record.functionCode,jdbcType=INTEGER},
      i18n = #{record.i18n,jdbcType=VARCHAR},
      function_name = #{record.functionName,jdbcType=VARCHAR},
      function_url = #{record.functionUrl,jdbcType=VARCHAR},
      roles = #{record.roles,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.testConfig.db.mybatis.model.projectpermission.PAppFunctionMenu">
    update p_app_function_menu
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="functionCode != null">
        function_code = #{functionCode,jdbcType=INTEGER},
      </if>
      <if test="i18n != null">
        i18n = #{i18n,jdbcType=VARCHAR},
      </if>
      <if test="functionName != null">
        function_name = #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionUrl != null">
        function_url = #{functionUrl,jdbcType=VARCHAR},
      </if>
      <if test="roles != null">
        roles = #{roles,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.testConfig.db.mybatis.model.projectpermission.PAppFunctionMenu">
    update p_app_function_menu
    set type = #{type,jdbcType=INTEGER},
      function_code = #{functionCode,jdbcType=INTEGER},
      i18n = #{i18n,jdbcType=VARCHAR},
      function_name = #{functionName,jdbcType=VARCHAR},
      function_url = #{functionUrl,jdbcType=VARCHAR},
      roles = #{roles,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>