<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testConfig.db.mybatis.mapper.firepatrol.MalRecordMapper">
  <resultMap id="BaseResultMap" type="com.example.testConfig.db.mybatis.model.firepatrol.MalRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="malfunction_id" jdbcType="VARCHAR" property="malfunctionId" />
    <result column="accendant_id" jdbcType="VARCHAR" property="accendantId" />
    <result column="accendant_name" jdbcType="VARCHAR" property="accendantName" />
    <result column="dispose_state" jdbcType="INTEGER" property="disposeState" />
    <result column="dispose_state_name" jdbcType="VARCHAR" property="disposeStateName" />
    <result column="des" jdbcType="VARCHAR" property="des" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, malfunction_id, accendant_id, accendant_name, dispose_state, dispose_state_name, 
    des, remark, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.example.testConfig.db.mybatis.model.firepatrol.MalRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mal_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mal_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mal_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.testConfig.db.mybatis.model.firepatrol.MalRecordExample">
    delete from mal_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.testConfig.db.mybatis.model.firepatrol.MalRecord">
    insert into mal_record (id, malfunction_id, accendant_id, 
      accendant_name, dispose_state, dispose_state_name, 
      des, remark, create_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{malfunctionId,jdbcType=VARCHAR}, #{accendantId,jdbcType=VARCHAR}, 
      #{accendantName,jdbcType=VARCHAR}, #{disposeState,jdbcType=INTEGER}, #{disposeStateName,jdbcType=VARCHAR}, 
      #{des,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.testConfig.db.mybatis.model.firepatrol.MalRecord">
    insert into mal_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="malfunctionId != null">
        malfunction_id,
      </if>
      <if test="accendantId != null">
        accendant_id,
      </if>
      <if test="accendantName != null">
        accendant_name,
      </if>
      <if test="disposeState != null">
        dispose_state,
      </if>
      <if test="disposeStateName != null">
        dispose_state_name,
      </if>
      <if test="des != null">
        des,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="malfunctionId != null">
        #{malfunctionId,jdbcType=VARCHAR},
      </if>
      <if test="accendantId != null">
        #{accendantId,jdbcType=VARCHAR},
      </if>
      <if test="accendantName != null">
        #{accendantName,jdbcType=VARCHAR},
      </if>
      <if test="disposeState != null">
        #{disposeState,jdbcType=INTEGER},
      </if>
      <if test="disposeStateName != null">
        #{disposeStateName,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.testConfig.db.mybatis.model.firepatrol.MalRecordExample" resultType="java.lang.Long">
    select count(*) from mal_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mal_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.malfunctionId != null">
        malfunction_id = #{record.malfunctionId,jdbcType=VARCHAR},
      </if>
      <if test="record.accendantId != null">
        accendant_id = #{record.accendantId,jdbcType=VARCHAR},
      </if>
      <if test="record.accendantName != null">
        accendant_name = #{record.accendantName,jdbcType=VARCHAR},
      </if>
      <if test="record.disposeState != null">
        dispose_state = #{record.disposeState,jdbcType=INTEGER},
      </if>
      <if test="record.disposeStateName != null">
        dispose_state_name = #{record.disposeStateName,jdbcType=VARCHAR},
      </if>
      <if test="record.des != null">
        des = #{record.des,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mal_record
    set id = #{record.id,jdbcType=VARCHAR},
      malfunction_id = #{record.malfunctionId,jdbcType=VARCHAR},
      accendant_id = #{record.accendantId,jdbcType=VARCHAR},
      accendant_name = #{record.accendantName,jdbcType=VARCHAR},
      dispose_state = #{record.disposeState,jdbcType=INTEGER},
      dispose_state_name = #{record.disposeStateName,jdbcType=VARCHAR},
      des = #{record.des,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.testConfig.db.mybatis.model.firepatrol.MalRecord">
    update mal_record
    <set>
      <if test="malfunctionId != null">
        malfunction_id = #{malfunctionId,jdbcType=VARCHAR},
      </if>
      <if test="accendantId != null">
        accendant_id = #{accendantId,jdbcType=VARCHAR},
      </if>
      <if test="accendantName != null">
        accendant_name = #{accendantName,jdbcType=VARCHAR},
      </if>
      <if test="disposeState != null">
        dispose_state = #{disposeState,jdbcType=INTEGER},
      </if>
      <if test="disposeStateName != null">
        dispose_state_name = #{disposeStateName,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.testConfig.db.mybatis.model.firepatrol.MalRecord">
    update mal_record
    set malfunction_id = #{malfunctionId,jdbcType=VARCHAR},
      accendant_id = #{accendantId,jdbcType=VARCHAR},
      accendant_name = #{accendantName,jdbcType=VARCHAR},
      dispose_state = #{disposeState,jdbcType=INTEGER},
      dispose_state_name = #{disposeStateName,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>