<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxycloud.autoConfig.db.mybatis.mapper.assist.DeviceStateRelationMapper">
  <resultMap id="BaseResultMap" type="com.zxycloud.autoConfig.db.mybatis.model.assist.DeviceStateRelation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="device_state_code" jdbcType="INTEGER" property="deviceStateCode" />
    <result column="device_state_name" jdbcType="VARCHAR" property="deviceStateName" />
    <result column="add_state_code" jdbcType="INTEGER" property="addStateCode" />
    <result column="remove_state_code" jdbcType="VARCHAR" property="removeStateCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, device_state_code, device_state_name, add_state_code, remove_state_code
  </sql>
  <select id="selectByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.DeviceStateRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from device_state_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_state_relation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from device_state_relation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.DeviceStateRelationExample">
    delete from device_state_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.DeviceStateRelation">
    insert into device_state_relation (id, device_state_code, device_state_name, 
      add_state_code, remove_state_code)
    values (#{id,jdbcType=VARCHAR}, #{deviceStateCode,jdbcType=INTEGER}, #{deviceStateName,jdbcType=VARCHAR}, 
      #{addStateCode,jdbcType=INTEGER}, #{removeStateCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.DeviceStateRelation">
    insert into device_state_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceStateCode != null">
        device_state_code,
      </if>
      <if test="deviceStateName != null">
        device_state_name,
      </if>
      <if test="addStateCode != null">
        add_state_code,
      </if>
      <if test="removeStateCode != null">
        remove_state_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="deviceStateCode != null">
        #{deviceStateCode,jdbcType=INTEGER},
      </if>
      <if test="deviceStateName != null">
        #{deviceStateName,jdbcType=VARCHAR},
      </if>
      <if test="addStateCode != null">
        #{addStateCode,jdbcType=INTEGER},
      </if>
      <if test="removeStateCode != null">
        #{removeStateCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.DeviceStateRelationExample" resultType="java.lang.Long">
    select count(1) from device_state_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update device_state_relation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceStateCode != null">
        device_state_code = #{record.deviceStateCode,jdbcType=INTEGER},
      </if>
      <if test="record.deviceStateName != null">
        device_state_name = #{record.deviceStateName,jdbcType=VARCHAR},
      </if>
      <if test="record.addStateCode != null">
        add_state_code = #{record.addStateCode,jdbcType=INTEGER},
      </if>
      <if test="record.removeStateCode != null">
        remove_state_code = #{record.removeStateCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update device_state_relation
    set id = #{record.id,jdbcType=VARCHAR},
      device_state_code = #{record.deviceStateCode,jdbcType=INTEGER},
      device_state_name = #{record.deviceStateName,jdbcType=VARCHAR},
      add_state_code = #{record.addStateCode,jdbcType=INTEGER},
      remove_state_code = #{record.removeStateCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.DeviceStateRelation">
    update device_state_relation
    <set>
      <if test="deviceStateCode != null">
        device_state_code = #{deviceStateCode,jdbcType=INTEGER},
      </if>
      <if test="deviceStateName != null">
        device_state_name = #{deviceStateName,jdbcType=VARCHAR},
      </if>
      <if test="addStateCode != null">
        add_state_code = #{addStateCode,jdbcType=INTEGER},
      </if>
      <if test="removeStateCode != null">
        remove_state_code = #{removeStateCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.DeviceStateRelation">
    update device_state_relation
    set device_state_code = #{deviceStateCode,jdbcType=INTEGER},
      device_state_name = #{deviceStateName,jdbcType=VARCHAR},
      add_state_code = #{addStateCode,jdbcType=INTEGER},
      remove_state_code = #{removeStateCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>