<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxycloud.autoConfig.db.mybatis.mapper.assist.ManageCompanyMapper">
  <resultMap id="BaseResultMap" type="com.zxycloud.autoConfig.db.mybatis.model.assist.ManageCompany">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="producer_code" jdbcType="VARCHAR" property="producerCode" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="company_contact_name" jdbcType="VARCHAR" property="companyContactName" />
    <result column="company_contact_tel" jdbcType="VARCHAR" property="companyContactTel" />
    <result column="mq_addr" jdbcType="VARCHAR" property="mqAddr" />
    <result column="mq_port" jdbcType="INTEGER" property="mqPort" />
    <result column="mq_username" jdbcType="VARCHAR" property="mqUsername" />
    <result column="mq_password" jdbcType="VARCHAR" property="mqPassword" />
    <result column="project_admin_account" jdbcType="VARCHAR" property="projectAdminAccount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, producer_code, company_id, company_name, company_code, company_address, company_contact_name, 
    company_contact_tel, mq_addr, mq_port, mq_username, mq_password, project_admin_account
  </sql>
  <select id="selectByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.ManageCompanyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from manage_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manage_company
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from manage_company
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.ManageCompanyExample">
    delete from manage_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.ManageCompany">
    insert into manage_company (id, producer_code, company_id, 
      company_name, company_code, company_address, 
      company_contact_name, company_contact_tel, 
      mq_addr, mq_port, mq_username, 
      mq_password, project_admin_account)
    values (#{id,jdbcType=VARCHAR}, #{producerCode,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, 
      #{companyContactName,jdbcType=VARCHAR}, #{companyContactTel,jdbcType=VARCHAR}, 
      #{mqAddr,jdbcType=VARCHAR}, #{mqPort,jdbcType=INTEGER}, #{mqUsername,jdbcType=VARCHAR}, 
      #{mqPassword,jdbcType=VARCHAR}, #{projectAdminAccount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.ManageCompany">
    insert into manage_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="producerCode != null">
        producer_code,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyAddress != null">
        company_address,
      </if>
      <if test="companyContactName != null">
        company_contact_name,
      </if>
      <if test="companyContactTel != null">
        company_contact_tel,
      </if>
      <if test="mqAddr != null">
        mq_addr,
      </if>
      <if test="mqPort != null">
        mq_port,
      </if>
      <if test="mqUsername != null">
        mq_username,
      </if>
      <if test="mqPassword != null">
        mq_password,
      </if>
      <if test="projectAdminAccount != null">
        project_admin_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="producerCode != null">
        #{producerCode,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyContactName != null">
        #{companyContactName,jdbcType=VARCHAR},
      </if>
      <if test="companyContactTel != null">
        #{companyContactTel,jdbcType=VARCHAR},
      </if>
      <if test="mqAddr != null">
        #{mqAddr,jdbcType=VARCHAR},
      </if>
      <if test="mqPort != null">
        #{mqPort,jdbcType=INTEGER},
      </if>
      <if test="mqUsername != null">
        #{mqUsername,jdbcType=VARCHAR},
      </if>
      <if test="mqPassword != null">
        #{mqPassword,jdbcType=VARCHAR},
      </if>
      <if test="projectAdminAccount != null">
        #{projectAdminAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.ManageCompanyExample" resultType="java.lang.Long">
    select count(*) from manage_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update manage_company
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.producerCode != null">
        producer_code = #{record.producerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyCode != null">
        company_code = #{record.companyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.companyAddress != null">
        company_address = #{record.companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.companyContactName != null">
        company_contact_name = #{record.companyContactName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyContactTel != null">
        company_contact_tel = #{record.companyContactTel,jdbcType=VARCHAR},
      </if>
      <if test="record.mqAddr != null">
        mq_addr = #{record.mqAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.mqPort != null">
        mq_port = #{record.mqPort,jdbcType=INTEGER},
      </if>
      <if test="record.mqUsername != null">
        mq_username = #{record.mqUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.mqPassword != null">
        mq_password = #{record.mqPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.projectAdminAccount != null">
        project_admin_account = #{record.projectAdminAccount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update manage_company
    set id = #{record.id,jdbcType=VARCHAR},
      producer_code = #{record.producerCode,jdbcType=VARCHAR},
      company_id = #{record.companyId,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      company_code = #{record.companyCode,jdbcType=VARCHAR},
      company_address = #{record.companyAddress,jdbcType=VARCHAR},
      company_contact_name = #{record.companyContactName,jdbcType=VARCHAR},
      company_contact_tel = #{record.companyContactTel,jdbcType=VARCHAR},
      mq_addr = #{record.mqAddr,jdbcType=VARCHAR},
      mq_port = #{record.mqPort,jdbcType=INTEGER},
      mq_username = #{record.mqUsername,jdbcType=VARCHAR},
      mq_password = #{record.mqPassword,jdbcType=VARCHAR},
      project_admin_account = #{record.projectAdminAccount,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.ManageCompany">
    update manage_company
    <set>
      <if test="producerCode != null">
        producer_code = #{producerCode,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyContactName != null">
        company_contact_name = #{companyContactName,jdbcType=VARCHAR},
      </if>
      <if test="companyContactTel != null">
        company_contact_tel = #{companyContactTel,jdbcType=VARCHAR},
      </if>
      <if test="mqAddr != null">
        mq_addr = #{mqAddr,jdbcType=VARCHAR},
      </if>
      <if test="mqPort != null">
        mq_port = #{mqPort,jdbcType=INTEGER},
      </if>
      <if test="mqUsername != null">
        mq_username = #{mqUsername,jdbcType=VARCHAR},
      </if>
      <if test="mqPassword != null">
        mq_password = #{mqPassword,jdbcType=VARCHAR},
      </if>
      <if test="projectAdminAccount != null">
        project_admin_account = #{projectAdminAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.ManageCompany">
    update manage_company
    set producer_code = #{producerCode,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      company_contact_name = #{companyContactName,jdbcType=VARCHAR},
      company_contact_tel = #{companyContactTel,jdbcType=VARCHAR},
      mq_addr = #{mqAddr,jdbcType=VARCHAR},
      mq_port = #{mqPort,jdbcType=INTEGER},
      mq_username = #{mqUsername,jdbcType=VARCHAR},
      mq_password = #{mqPassword,jdbcType=VARCHAR},
      project_admin_account = #{projectAdminAccount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>