<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxycloud.autoConfig.db.mybatis.mapper.assist.MsgTypeMetadataMapper">
  <resultMap id="BaseResultMap" type="com.zxycloud.autoConfig.db.mybatis.model.assist.MsgTypeMetadata">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="msg_type" jdbcType="INTEGER" property="msgType" />
    <result column="msg_type_name" jdbcType="VARCHAR" property="msgTypeName" />
    <result column="msg_type_name_en" jdbcType="VARCHAR" property="msgTypeNameEn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, msg_type, msg_type_name, msg_type_name_en
  </sql>
  <select id="selectByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.MsgTypeMetadataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from msg_type_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from msg_type_metadata
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from msg_type_metadata
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.MsgTypeMetadataExample">
    delete from msg_type_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.MsgTypeMetadata">
    insert into msg_type_metadata (id, msg_type, msg_type_name, 
      msg_type_name_en)
    values (#{id,jdbcType=INTEGER}, #{msgType,jdbcType=INTEGER}, #{msgTypeName,jdbcType=VARCHAR}, 
      #{msgTypeNameEn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.MsgTypeMetadata">
    insert into msg_type_metadata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="msgType != null">
        msg_type,
      </if>
      <if test="msgTypeName != null">
        msg_type_name,
      </if>
      <if test="msgTypeNameEn != null">
        msg_type_name_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=INTEGER},
      </if>
      <if test="msgTypeName != null">
        #{msgTypeName,jdbcType=VARCHAR},
      </if>
      <if test="msgTypeNameEn != null">
        #{msgTypeNameEn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.MsgTypeMetadataExample" resultType="java.lang.Long">
    select count(*) from msg_type_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update msg_type_metadata
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.msgType != null">
        msg_type = #{record.msgType,jdbcType=INTEGER},
      </if>
      <if test="record.msgTypeName != null">
        msg_type_name = #{record.msgTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.msgTypeNameEn != null">
        msg_type_name_en = #{record.msgTypeNameEn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update msg_type_metadata
    set id = #{record.id,jdbcType=INTEGER},
      msg_type = #{record.msgType,jdbcType=INTEGER},
      msg_type_name = #{record.msgTypeName,jdbcType=VARCHAR},
      msg_type_name_en = #{record.msgTypeNameEn,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.MsgTypeMetadata">
    update msg_type_metadata
    <set>
      <if test="msgType != null">
        msg_type = #{msgType,jdbcType=INTEGER},
      </if>
      <if test="msgTypeName != null">
        msg_type_name = #{msgTypeName,jdbcType=VARCHAR},
      </if>
      <if test="msgTypeNameEn != null">
        msg_type_name_en = #{msgTypeNameEn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.MsgTypeMetadata">
    update msg_type_metadata
    set msg_type = #{msgType,jdbcType=INTEGER},
      msg_type_name = #{msgTypeName,jdbcType=VARCHAR},
      msg_type_name_en = #{msgTypeNameEn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>