<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxycloud.autoConfig.db.mybatis.mapper.assist.UserOperateLogTemplateMapper">
  <resultMap id="BaseResultMap" type="com.zxycloud.autoConfig.db.mybatis.model.assist.UserOperateLogTemplate">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="operate_code" jdbcType="INTEGER" property="operateCode" />
    <result column="i18n_code" jdbcType="VARCHAR" property="i18nCode" />
    <result column="template" jdbcType="VARCHAR" property="template" />
    <result column="value_list" jdbcType="VARCHAR" property="valueList" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, operate_code, i18n_code, template, value_list
  </sql>
  <select id="selectByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.UserOperateLogTemplateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_operate_log_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_operate_log_template
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_operate_log_template
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.UserOperateLogTemplateExample">
    delete from user_operate_log_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.UserOperateLogTemplate">
    insert into user_operate_log_template (id, operate_code, i18n_code, 
      template, value_list)
    values (#{id,jdbcType=VARCHAR}, #{operateCode,jdbcType=INTEGER}, #{i18nCode,jdbcType=VARCHAR}, 
      #{template,jdbcType=VARCHAR}, #{valueList,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.UserOperateLogTemplate">
    insert into user_operate_log_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operateCode != null">
        operate_code,
      </if>
      <if test="i18nCode != null">
        i18n_code,
      </if>
      <if test="template != null">
        template,
      </if>
      <if test="valueList != null">
        value_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="operateCode != null">
        #{operateCode,jdbcType=INTEGER},
      </if>
      <if test="i18nCode != null">
        #{i18nCode,jdbcType=VARCHAR},
      </if>
      <if test="template != null">
        #{template,jdbcType=VARCHAR},
      </if>
      <if test="valueList != null">
        #{valueList,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.UserOperateLogTemplateExample" resultType="java.lang.Long">
    select count(*) from user_operate_log_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_operate_log_template
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.operateCode != null">
        operate_code = #{record.operateCode,jdbcType=INTEGER},
      </if>
      <if test="record.i18nCode != null">
        i18n_code = #{record.i18nCode,jdbcType=VARCHAR},
      </if>
      <if test="record.template != null">
        template = #{record.template,jdbcType=VARCHAR},
      </if>
      <if test="record.valueList != null">
        value_list = #{record.valueList,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_operate_log_template
    set id = #{record.id,jdbcType=VARCHAR},
      operate_code = #{record.operateCode,jdbcType=INTEGER},
      i18n_code = #{record.i18nCode,jdbcType=VARCHAR},
      template = #{record.template,jdbcType=VARCHAR},
      value_list = #{record.valueList,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.UserOperateLogTemplate">
    update user_operate_log_template
    <set>
      <if test="operateCode != null">
        operate_code = #{operateCode,jdbcType=INTEGER},
      </if>
      <if test="i18nCode != null">
        i18n_code = #{i18nCode,jdbcType=VARCHAR},
      </if>
      <if test="template != null">
        template = #{template,jdbcType=VARCHAR},
      </if>
      <if test="valueList != null">
        value_list = #{valueList,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxycloud.autoConfig.db.mybatis.model.assist.UserOperateLogTemplate">
    update user_operate_log_template
    set operate_code = #{operateCode,jdbcType=INTEGER},
      i18n_code = #{i18nCode,jdbcType=VARCHAR},
      template = #{template,jdbcType=VARCHAR},
      value_list = #{valueList,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>